* {
  box-sizing: border-box;
   font-family: "Josefin Sans", sans-serif;
}
body {
  background: linear-gradient(rgba(0, 0, 1, 1), rgba(0, 0, 1, 1)),
    url("back.png");
  background-size: 30%;
  background-blend-mode: overlay;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0 auto;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.quiz-container {
  background: url("quadroquiz.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 58%;
  width: 100%;
  height: 100%;
  text-align: center;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 1));
}
.container {
  margin: 12% auto;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.904));
}
.center {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  margin: 30px auto 30px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
  max-width: 700px;
}
.btn {
  background: #4f2215;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 8px;
  margin: 10px 0;
  width: 25%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.4rem;
  clip-path: polygon(
    5% 10%,
    15% 0%,
    85% 5%,
    95% 15%,
    100% 85%,
    90% 95%,
    10% 90%,
    0% 80%
  );
}
.btn:hover {
  background: #38180f;
  transform: scale(1.03);
}
.btn.correct {
  background: #27ae60;
}
.btn.wrong {
  background: #e74c3c;
}
#restart-btn {
  background: linear-gradient(90deg, #fcbf49, #ffde7d);
  border: none;
  border-radius: 25px;
  padding: 12px 30px;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
   display: none;
  clip-path: polygon(
    5% 10%,
    15% 0%,
    85% 5%,
    95% 15%,
    100% 85%,
    90% 95%,
    10% 90%,
    0% 80%
  );
}
#start-btn {
  border: none;
  border-radius: 12px;
  padding: 7px 90px;
  font-size: 1.8rem;
  margin-top: 15px;
  cursor: pointer;
  display: none;
  transition: 0.3s;
  color: white;
  clip-path: polygon(
    5% 10%,
    15% 0%,
    85% 5%,
    95% 15%,
    100% 85%,
    90% 95%,
    10% 90%,
    0% 80%
  );
}
#main-title {
  font-size: 10rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-top: 2% ;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
#restart-btn {
  background: #f39c12;
}
#restart-btn:hover {
  background: #e67e22;
    transform: scale(1.02);
  box-shadow: 0 0 15px rgba(255, 223, 77, 0.8);
}
#start-btn {
  background: #4f2215;
  display: block;
}
#start-btn:hover {
  background: #3d1a10;
}
#answers {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#back-btn {
  background: #8e44ad;
  border: none;
  border-radius: 12px;
  padding: 12px 40px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  display: block; 
    clip-path: polygon(
    5% 10%,
    15% 0%,
    85% 5%,
    95% 15%,
    100% 85%,
    90% 95%,
    10% 90%,
    0% 80%
  );
}

#back-btn:hover {
  background: #6c3483;
}
.center > div {
  display: flex;
  flex-direction: column;
  gap: 55%;
}
  .feedback {
  margin-top: 12px;
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
  animation: fadeIn 0.4s ease;
    backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 8px 12px;
  transition: all 0.3s ease;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black,
    1px 1px black,
    -1px -1px black,
    1px -1px black,
    -1px 1px black;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}
/* ===== MODAL ===== */
.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease;
}
.modal-content {
  background: rgba(35, 15, 10, 0.95);
  border: 2px solid #a85b38;
  border-radius: 20px;
  padding: 30px 40px;
  width: 60%;
  max-width: 600px;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  animation: popIn 0.4s ease;
}
.modal-content p {
  font-size: 1.6rem;
  margin-bottom: 25px;
  text-shadow:
    2px 0 black,
    -2px 0 black,
    0 2px black,
    0 -2px black;
}

#continue-btn {
  background: #1c9800;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
    clip-path: polygon(
    5% 10%,
    15% 0%,
    85% 5%,
    95% 15%,
    100% 85%,
    90% 95%,
    10% 90%,
    0% 80%
  );
}
#continue-btn:hover {
  background: #2ccb08;
}

/* Animações */
@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
.result-msg {
  font-size: 1.2rem;
  color: #fff8dc;
  text-shadow: 0 0 8px #000;
  margin-top: 15px;
  animation: fadeIn 0.6s ease;
}
.quadros {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.quadros img {
  position: absolute;
  width: 10%;
  max-width: 250px;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(0.9);
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.3));
}
.quadros img:first-child {
  top: 25%;
  left: -1%;
}
.quadros img:last-child {
  top: 25%;
  right: -1%;
}
.quadros img:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.btn-flutuante {
      position: fixed;
      bottom: 25px;
      right: 25px;
      width: 80px;
      height: auto;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 10);
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 9999;
      filter: drop-shadow(0 0 30px rgba(0, 0, 0, 100));
      background: linear-gradient(rgba(0, 0, 1, 0.2), rgba(0, 0, 1, 0.2));
    }

    .btn-flutuante:hover {
      transform: scale(1.1);
    }

    .btn-flutuante img {
      width: 80px;
      height: auto;
    }

    .btn-flutuante.active {
  background: #0d7e45;
  border-color: #0d7e45;
  box-shadow: 0 0 20px rgba(0, 255, 128, 0.4);
  } 