body {
  overflow-x: hidden;
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
section {
    height: 200vh;
}
footer {
	background-color: #302503;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
  position:absolute;
  bottom:-117.1vh;
  left: 0px;
  width:100%;
  z-index: 998;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}
.acessibilidade{
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 60px;
    height: auto;
    z-index: 1000;
}
.background {
    position: absolute;
    top: -30px;
    left: 0;
    width: 102.1%;
    height: 220%;
    z-index: -1;
    border-bottom: 3px solid #e6d395;
}
.abertura {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Quintessential", serif;
    font-size: 900%;
    color: #e6d395;
    text-shadow: 5px 15px 10px #000000;
}
.seta{
    position: absolute;
    top: 75%;
    left: 47%;
    height: 125px;
}
.galeria{
    position: absolute;
    top: 120%;
    left: 10%;
    width: 260px;
    height: 600px;
    opacity: 0;
    background-color: #000000;
}
.tgaleria{
    position: absolute;
    top: 145%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-family: "Quintessential", serif;
    font-size: 2em;
    color: #e6d395;
    text-shadow: 5px 15px 10px #000000;
     border-bottom-style: dotted;
      border-top-style: dotted;
      animation: pulse 1.4s infinite alternate; /* 2s duration, infinite loop, alternates direction */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}


.feira{
    position: absolute;
    top: 120%;
    right: 0%;
    width: 20%;
    height: 500px;
    opacity: 0;
    background-color: #000000;
}
.tfeira{
    position: absolute;
    top: 157%;
    right: 7%;
    transform: translate(-50%, -50%);
    font-family: "Quintessential", serif;
    font-size: 2em;
    color: #e6d395;
    text-shadow: 5px 15px 10px #000000;
     border-bottom-style: dotted;
      border-top-style: dotted;
    animation: pulse 1.4s infinite alternate; /* 2s duration, infinite loop, alternates direction */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.1); /* Slightly larger */
  }
  100% {
    transform: scale(1); /* Back to original size */
  }
}

.fonte{
    position: absolute;
    top: 160%;
    left: 64%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 50%;
    opacity: 0;
    background-color: #000000;
}
.tfonte{
    position: absolute;
    top: 165%;
    left: 61%;
    transform: translate(-50%, -50%);
    font-family: "Quintessential", serif;
    font-size: 2em;
    color: #e6d395;
    text-shadow: 5px 15px 10px #000000;
     border-bottom-style: dotted;
      border-top-style: dotted;
    animation: pulse 1.4s infinite alternate; 
    }
        @keyframes pulse {
        0% {
            transform: scale(1); 
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1) 
        }
        }

.camponesa{
    position: absolute;
    bottom: -106vh;
    left: 4%;
    width: 20%;
    height: auto;
}
.balao{
    position: absolute;
    bottom: -85vh;
    left: 15%;
    width: 40%;
    height: 35%;
}
.falac{
  text-align: center;
    position: absolute;
    bottom: -76vh;
    left: 5%;
    font-family: "Quintessential", serif;
    font-size: 1.5em;
    color: #1d1706;
    width: 60%;
}
.divisor{
    position: absolute;
    bottom: -105.7vh;
    left: 0%;
    width: 100%;
    height: 3px;
    background-color: #bd9a3a;
    box-shadow: #e6d395 0px 0px 10px;
    z-index: 999;
}