.background {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 99.7%;
    z-index: -1;
    filter: brightness(0.4);
}
body {
  overflow-x: hidden;
}
button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
footer {
	background-color: #302503;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
  position:absolute;
  bottom:-11.2vh;
  left: 0px;
  width:100%;
  z-index: 998;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}
.acessibilidade{
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 60px;
    height: auto;
    z-index: 1000;
}
.divisor{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 3px;
    background-color: #bd9a3a;
    box-shadow: #e6d395 0px 0px 10px;
    z-index: 999;
}
.monalisa{
    position: absolute;
        top: 10%;
        left: 2%;
    width: 35%;
    height: auto;
    z-index: -1;
}
.titulo1{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 25%;
}
.subtitulo1{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 21%;
}
.info1{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 40%;
    position: absolute;
        top: -20%;
        right:-7%;
}
.homem_vitruviano{
    position: absolute;
        top: 10%;
        left: 2%;
    width: 35%;
    height: auto;
    z-index: -1;
}
.titulo2{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 20%;
}
.subtitulo2{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 25%;
}
.info2{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 40%;
    position: absolute;
        top: -26%;
        right:-7%;
}
.ultima_ceia{
    position: absolute;
        top: 9%;
        left: 2%;
    width: 35%;
    height: 82%;
    z-index: -1;
}

.titulo3{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 25%;
}
.subtitulo3{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 29%;
}
.info3{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 40%;
    position: absolute;
        top: -26%;
        right:-7%;
}
.david{
    position: absolute;
        top: 18%;
        left: 1%;
    width: 35%;
    height: auto;
    z-index: -1;
}

.titulo4{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 30%;
}
.subtitulo4{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 25%;
}
.info4{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 40%;
    position: absolute;
        top: -26%;
        right:-7%;
}
.adao{
    position: absolute;
        top: -2%;
        left: 2%;
    width: 35%;
    height: 100%;
    z-index: -1;
}
.titulo5{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 22%;
}
.subtitulo5{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 30%;
}
.info5{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 42%;
    position: absolute;
        top: -26%;
        right:-8%;
}
.moises{
    position: absolute;
        top: 18%;
        left: 1%;
    width: 35%;
    height: auto;
    z-index: -1;
}
.titulo6{
    font-family: 'Simonetta', serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #302503;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: 10%;
        right: 30%;
}
.subtitulo6{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #302503;
    text-align: center;
    margin-top: 12%;
    margin-bottom: 2%;
    z-index: 999;
    position: absolute;
        top: -3%;
        right: 25%;
}
.info6{
    font-family: 'Simonetta', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #302503;
    text-align: justify;
    margin-top: 25%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 999;
    height: auto;
    width: 40%;
    position: absolute;
        top: -26%;
        right:-7%;
}